<%- include("../partials/header") %>
<%- include("../partials/navbar") %>


<main class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <%- include("../partials/flash") %>       
            <h1 class="display-6">Sign Up</h1> 
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="text"class="form-control" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Email</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success btn-small">SignUp</button>
            </form>
        </div>
    </div>
</main>

<%- include("../partials/footer") %>